%h1 Listing Your Time Blocks

%p= paginate @time_blocks

%table
	%tr
		%th Project
		%th Start Time
		%th End Time
		%th 
		%th

	- @time_blocks.each do |time_block|
		%tr
			%td= link_to time_block.project.name, project_path(time_block.project)
			%td= display_time time_block.start_time
			%td= display_time time_block.end_time
			%td= link_to 'Edit', edit_time_block_path(time_block)
			%td= link_to 'Destroy', time_block, :method => :delete, :data => { :confirm => 'Are you sure?' }

%p= paginate @time_blocks

%p= link_to 'Record a New Time Block', new_time_block_path
