<!DOCTYPE html>
<html>
<head>
  <title>HengageTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p id='navigation'>
		<% if current_user %>
			<strong>
				<em>Navigate!</em>
				<%= link_to 'Users', users_path %>
				<%= link_to 'Projects', projects_path %>
				<%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
			</strong>
		<% end %>
	</p>
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>
